<div class = "text-center">
    <h1>TUTORIAL</h1>
    <p>@ViewBag.explicacion</p>
</div>
<h3>Ejemplo</h3>
<div class = "imagenes">
    <img src="img/barca.webp" alt="Barcelona">
    <img src="img/psg.png" alt="PSG">
</div>
<h5>Respuesta: MESSI</h5>