<div class = "text-center">
    <h1>TUTORIAL</h1>
    <p>En esta sala de escape se te mostraran una serie de equipos ordenados segun a un jugador de futbol y deberas adivinar que jugador paso por esos equipos</p>
    <p>Todos los nombres de los jugadores deben ser escritos en MAYUSCULA</p>
</div>
<h3>Ejemplo</h3>
<div class = "text-center">
    <img src="img/barca.webp" alt="Barcelona">
    <img src="img/psg.png" alt="PSG">
</div>
<h5>Respuesta: MESSI</h5>